<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>

<body>
    <div id="app">


        <h3> Usuarios</h3>
        <template>
            <div v-for="u in users">

                <div v-if="u.hasMenbership">
                    <p>
                        Nombre: {{u.name}}
                    </p>
                    <p>
                        Edad: {{u.age}}
                    </p>
                </div>
                <div v-else="u.hasMenbership">
                    <p>
                        Nombre: {{u.name}}
                    </p>

                </div>



            </div>
        </template>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/v-if.js"></script>
</body>

</html>